.text-center {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 3.75rem;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
}